.smartTv {
    margin: 100px auto;
}

.smartTv > section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
}

.smartTv > section > article {
    display: flex;
    max-width: 1230px;
    z-index: 2;
}

.smartTv > section > article > div > p {
    line-height: 38.4px;
}

@media screen and (min-width: 500px) {
    .smartTv > section > article > div {
        height: 600px;
        display: flex;
        align-items: center;
    }
}

.quadroFundo {
    width: 1700px;
    max-width: 1700px;
    height: 600px;
    background-color: #1c1c1c;
    border: 1px solid #D9D9D9;
    position: absolute;
}